$size-height: 1rem;
$size-top: 5rem;
$size-bottom: 7rem;
$size-border: 2px;

.animatedMenu {
  position: relative;
  z-index: 2;

  &::after {
    position: absolute;
    content: "";
    top: 80px;
    left: 23px;
    bottom: 120px;
    width: 3px;
    background-color: #fff;
    z-index: 0;
  }

  &__item {
    display: flex;
    position: relative;
    padding-left: 85px;

    &:nth-child(odd) {
      .animatedMenu__decor {
        background-image: url("/decor/white_left_border.png");
      }
    }

    &:hover {
      .animatedMenu__decor {
        background-image: url("/decor/color_right_border.png");
      }

      &:nth-child(odd) {
        .animatedMenu__decor {
          background-image: url("/decor/color_left_border.png");
        }
      }
    }

    &_active {
      .animatedMenu__decor {
        background-image: url("/decor/color_right_border.png");
      }

      &:nth-child(odd) {
        .animatedMenu__decor {
          background-image: url("/decor/color_left_border.png");
        }
      }

      .animatedMenu__itemWrap {
        color: black;
        transform: scale(1.05);
        transform-origin: 0 0;

        &::after {
          background: linear-gradient(
            45deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 35%,
            #58b9ff 71%,
            #4bb7aa 89%
          );
        }

        &:nth-child(1) {
          &::after {
            background: linear-gradient(
              45deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 1) 35%,
              rgba(241, 163, 71, 1) 71%,
              rgba(255, 114, 224, 1) 89%
            );
          }
        }
      }
    }
  }

  &__decor {
    position: absolute;
    top: 60px;
    left: 0;
    display: block;
    width: 50px;
    height: 85px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    background-image: url("/decor/white_right_border.png");
    z-index: 1;
    transition: 0.3s;
  }

  &__itemWrap {
    position: relative;
    width: 35vw;
    padding: 4rem 3rem;
    margin-bottom: 50px;
    cursor: pointer;
    transition: transform 0.3s;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      display: block;
      z-index: 0;
      transition: 0.3s;
      clip-path: polygon(
        0 0,
        $size-top 0,
        $size-bottom $size-height,
        100% $size-height,
        100% calc(100% - $size-height),
        100% calc(100% - $size-height),
        calc(100% - $size-top) calc(100% - $size-height),
        calc(100% - $size-bottom) 100%,
        0 100%
      );
      background: radial-gradient(
        ellipse at center,
        #4effdf 0%,
        rgba(255, 255, 255, 0) 100%
      );
      backdrop-filter: blur(10px);
      z-index: 1;
    }

    &_pink::after {
      background: radial-gradient(
        ellipse at center,
        rgba(255, 114, 224, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__number {
    display: block;
    font: 700 41px/1 "NeueMachina";
    margin-bottom: 10px;
  }

  &__title {
    font: 700 13px/1.2 "MazzardH";
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__text {
    font: 700 13px/1.2 "MazzardH";
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__image {
    position: absolute;
    inset: 0;
    background-position: right bottom;
    background-size: auto 80%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s;

    &_active {
      opacity: 1;
    }
  }
}
