@use "variables" as vars;

.container {
  overflow-x: hidden;
}

.section {
  height: 100vh;
  padding: clamp(1.25rem, 0.952vw + 1.018rem, 1.875rem)
    clamp(0.5rem, -1.5198rem + 8.2865vw, 5.938rem);
  min-height: 600px;
}

.main {
  display: flex;
  align-items: center;
  padding-top: 7.1429rem;
  padding-bottom: 7.1429rem;
  position: relative;
  background: url("/bg/screen1_bg.jpg") center no-repeat;
  background-size: cover;

  &__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 2.2857rem;
    position: absolute;
    top: 2.5rem;
    left: 2.8571rem;
    right: 2.8571rem;
    z-index: 9;
  }

  &__buttonList {
    display: flex;
    justify-content: center;
    gap: 1.4286rem;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    background: linear-gradient(
      to top,
      rgba(230, 209, 224, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.earth {
  display: flex;
  align-items: center;
  padding-top: 7.1429rem;
  padding-bottom: 7.1429rem;
  justify-content: space-between;
  background: url("/bg/earth_2_bg.jpg") center no-repeat;
  background-size: cover;

  @media (max-width: vars.$screen) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
  }
}

.animation {
  min-height: 100vh;
  height: auto;
  position: relative;
  background: linear-gradient(to bottom, #222331 0%, #0e1217 50%, #633e60 100%);
  padding-top: 50px;

  &::before {
    content: "";
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(
      to top,
      rgb(34, 35, 49) 0%,
      rgba(34, 35, 49, 0) 100%
    );
  }
}

.logos {
  position: relative;
  min-height: auto;
  height: auto;
  background: linear-gradient(to bottom, #633e60 0%, #705451 50%, #32344b 100%);

  &__list {
    margin-bottom: 100px;
    margin: 0 auto;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100px;
    z-index: 2;
    width: 100%;
    height: 200px;
    background: linear-gradient(
      to bottom,
      rgba(50, 52, 75, 0) 0%,
      rgba(50, 52, 75) 50%,
      rgba(50, 52, 75, 0) 100%
    );
  }
}

.questions {
  background: linear-gradient(to bottom, #32344b 0%, #4b3961 50%, #4d2a32 100%);
  position: relative;
  height: auto;
  min-height: auto;
  padding-bottom: 15rem;

  &__content {
    position: relative;
    z-index: 2;
  }

  &__star {
    padding: 0 18px 0 11px;
    position: relative;
    top: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/bg/screen_art_object.png") center top no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.7;
  }
}

.alliesGallery {
  position: relative;
  background: linear-gradient(to bottom, #35202b 0%, #6f3c45 50%, #58294e 100%);

  min-height: auto;
  height: auto;
  padding-bottom: 100px;

  &::before {
    content: "";
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: -150px;
    left: 0;
    background: linear-gradient(
      to top,
      rgba(53, 32, 43, 1) 0%,
      rgba(53, 32, 43, 0) 100%
    );
  }
}

.footer {
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 76px;
  height: auto;
  min-height: auto;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 8vw;

  &__copyright {
    text-align: right;
  }
}

.artTitle {
  margin-bottom: 1em;
}

.smallTitle {
  margin-bottom: 1em;
}

.subTitle {
  margin-bottom: 50px !important;
  text-align: center;
}
