@use "../../styles/variables" as vars;

.navigation {
  font: 700 1.1429rem/1 "NeueMachina", sans-serif;
  display: flex;
  align-items: center;
  gap: 3vh;
  writing-mode: vertical-rl;

  @media (max-width: vars.$min-tab) {
    justify-content: center;
    flex-direction: column;
    writing-mode: horizontal-tb;
    font-size: 30px;
    background-image: radial-gradient(
        ellipse at center,
        rgba(85, 45, 57, 0.5) 0%,
        rgba(25, 16, 19, 0.5) 100%
      ),
      url("../../../public/bg/screen_art_object.png"),
      radial-gradient(
        ellipse at center,
        rgba(85, 45, 57, 1) 0%,
        rgba(25, 16, 19, 1) 100%
      );
    background-position: center;
    transition: 0.3s;
  }

  &__link {
    color: white;
    text-decoration: none;
    opacity: 0.7;
    transition: all 0.3s;
    padding: 1rem 0;

    &:hover,
    &:visited {
      color: white;
      opacity: 1;
    }

    &_active {
      opacity: 1;
    }
  }

  &__star {
    display: block;
    width: 1.5714rem;
    height: 1.5714rem;
    background: url("./images/star.svg") no-repeat center center;
  }
}
