$size-height: 1.5rem;
$size-top: 4rem;
$size-bottom: 6rem;
$size-border: 2px;

.artObject {
  position: relative;
  max-width: 1221px;
  margin: 0 auto;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: $size-height 0 0;
  }

  &__column {
    position: relative;
    z-index: 1;

    &:not(:last-child) {
      border-right: 3px solid #fff;
    }
  }

  &__row {
    position: relative;

    &:not(:last-child) {
      border-bottom: 3px solid #fff;
    }

    &_type {
      &_textSpace {
        padding: 50px 30px;
      }

      &_trio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px 0;

          &:not(:last-child) {
            border-right: 3px solid #fff;
          }
        }
      }

      &_duo {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 157px;

        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px 0;

          &:not(:last-child) {
            border-right: 3px solid #fff;
          }
        }
      }
    }
  }

  &__textLarge {
    font-size: 1.8rem;
  }

  h3 {
    font: 400 31px/1.2 "TTOctosquares", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    margin-bottom: 0.5em;
  }

  p {
    font: 400 14px/1.4 "MazzardH", sans-serif;
  }

  strong {
    font-weight: 700;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(5px);

    clip-path: polygon(
      0 0,
      $size-top 0,
      $size-bottom $size-height,
      100% $size-height,
      100% calc(100% - $size-height),
      100% calc(100% - $size-height),
      calc(100% - $size-top) calc(100% - $size-height),
      calc(100% - $size-bottom) 100%,
      0 100%
    );
  }
}
