@use "../../styles/variables" as vars;

$size-height: 1.5rem;
$size-top: 4rem;
$size-bottom: 6rem;
$size-border: 2px;

.artObject {
  position: relative;
  max-width: 1221px;
  margin: 0 auto;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: $size-height 0 0;

    @media (max-width: vars.$min-tab) {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    position: relative;
    z-index: 1;

    display: grid;

    &:not(:last-child) {
      border-right: 2px solid #fff;

      @media (max-width: vars.$min-tab) {
        border-right: none;
      }
    }

    @media (max-width: vars.$min-tab) {
      &:last-child {
        & > div:last-child {
          border: none;
        }
      }
    }
  }

  &__row {
    position: relative;

    &:not(:last-child) {
      border-bottom: 2px solid #fff;
    }

    @media (max-width: vars.$min-tab) {
      &:last-child {
        border-bottom: 2px solid #fff;
      }
    }

    &_type {
      &_textSpace {
        padding: clamp(1.875rem, 0.36rem + 3.16vi, 3.125rem)
          clamp(0.5rem, -1.166rem + 3.476vi, 1.875rem);
      }

      &_trio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3px;

          &:not(:last-child) {
            border-right: 2px solid #fff;
          }
        }
      }

      &_duo {
        display: grid;
        grid-template-columns: 1fr 2fr;

        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px 0;

          &:not(:last-child) {
            border-right: 2px solid #fff;
          }
        }
      }
    }
  }

  &__textLarge {
    font-size: 1.8rem;
  }

  h3 {
    font: 400 clamp(1.125rem, 0.216rem + 1.896vi, 1.875rem) / 1.2
        "TTOctosquares",
      sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    margin-bottom: 0.5em;
  }

  p {
    font: 400 14px/1.4 "MazzardH", sans-serif;
  }

  strong {
    font-weight: 700;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.27);
    backdrop-filter: blur(5px);

    clip-path: polygon(
      0 0,
      $size-top 0,
      $size-bottom $size-height,
      100% $size-height,
      100% calc(100% - $size-height),
      100% calc(100% - $size-height),
      calc(100% - $size-top) calc(100% - $size-height),
      calc(100% - $size-bottom) 100%,
      0 100%
    );
  }
}
