@use "../../styles/variables" as vars;

$size-height: 0.7rem;
$size-top: 3rem;
$size-bottom: 4.5rem;

$size-height-large: 0.7rem;
$size-top-large: 4rem;
$size-bottom-large: 5.3rem;
$size-border: 2px;

.gallery {
  position: relative;

  &__gallery {
    position: relative;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    margin-right: -7rem;
    font: 400 15px "MazzardH", sans-serif;

    @media (max-width: vars.$tab) {
      max-width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    min-width: 25%;
    position: relative;

    &_active {
      min-width: 40%;

      .gallery__wrap {
        color: #000;
        padding: 30px 15px;

        &::before {
          background: radial-gradient(
            ellipse at top right,
            rgba(255, 114, 224, 0.8) 10%,
            rgba(241, 163, 71, 0.73) 20%,
            rgba(255, 255, 255, 1) 40%
          );
        }
      }

      .gallery__nickname {
        font-size: clamp(1.5rem, 0.7165rem + 1.6345vw, 2.1875rem);
      }

      .gallery__description {
        opacity: 1;
        transform: scaleX(1);
        height: auto;
      }
    }
  }

  &__wrap {
    position: relative;
    padding: 20px 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    cursor: pointer;
    transition: all 0.2s;

    &::before {
      content: "";
      inset: 0;
      position: absolute;
      backdrop-filter: blur(5px);
      clip-path: polygon(
        0 0,
        $size-top 0,
        $size-bottom $size-height,
        100% $size-height,
        100% calc(100% - $size-height),
        100% calc(100% - $size-height),
        calc(100% - $size-top) calc(100% - $size-height),
        calc(100% - $size-bottom) 100%,
        0 100%
      );
      z-index: 0;
      background: radial-gradient(
        ellipse at top right,
        rgba(255, 114, 224, 0.8) 10%,
        rgba(241, 163, 71, 0.73) 20%,
        rgba(255, 252, 249, 0.48) 59%,
        rgba(255, 255, 255, 0.1) 100%
      );
      backdrop-filter: blur(5px);
      transition: all 0.3s;
    }

    @media (max-width: vars.$tab) {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  &__person {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
  }

  &__image {
    max-width: 100%;
  }

  &__info {
    position: relative;
    z-index: 1;
  }

  &__nickname {
    text-transform: uppercase;
    font: 400 21px "TTOctosquares", sans-serif;
  }

  &__description {
    opacity: 0;
    position: absolute;
    left: calc(100% - $size-border);
    bottom: $size-height;
    width: 50vw;
    padding: 15px 30px;
    color: #fff;
    transition: transform 0.3s opacity 0.3s;
    transform: scaleX(0);
    transform-origin: 0 center;

    @media (max-width: vars.$tab) {
      height: 0;
      position: static;
      max-width: 600px;
      width: auto;
      margin: -12px auto 0;
    }

    strong {
      font-weight: 700;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 25px),
        calc(100% - $size-bottom) 100%,
        0 100%
      );
      background-color: rgb(255, 255, 255, 0.3);
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;

      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 25px),
        calc(100% - 65px) 100%,
        0 100%,
        0 calc(100% - $size-border),
        calc(100% - 65px - $size-border) calc(100% - $size-border),
        calc(100% - $size-border) calc(100% - $size-border - 25px),
        calc(100% - $size-border) $size-border,
        $size-border $size-border,
        $size-border calc(100% - $size-border),
        0 calc(100% - $size-border)
      );
      background: #fff;
    }
  }

  &__star {
    position: absolute;
    top: -15px;
    right: 40px;

    @media (max-width: vars.$tab) {
      top: 87%;
      right: 100px;
    }
  }

  &__drag {
    position: absolute;
    top: 10%;
    right: 20%;
    z-index: 5;
    pointer-events: none;

    @media (max-width: vars.$tab) {
      display: none;
    }
  }
}
