@use "../../styles/variables" as vars;

.closeButton {
  position: relative;
  display: flex;
  align-items: center;
  &_type {
    &_max {
      @media (max-width: vars.$smart) {
        display: none;
      }
    }
    &_min {
      display: none;
      position: relative;
      width: 40px;
      height: 40px;
      background: transparent;
      border: none;

      @media (max-width: vars.$smart) {
        display: block;
      }
      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform-origin: center;
      }
      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
