.title {
  display: inline-flex;
  flex-direction: column;
  font: 700 15px/1.2em "MazzardH";
  text-transform: uppercase;
  text-align: right;
  gap: 0.1em;

  &__text {
    background-image: linear-gradient(to right, #ffb800, #ffbac3);
    background-clip: text;
    color: transparent;
    display: inline-block;
    padding-right: 10px;
    line-height: 1;
  }

  &_center {
    display: flex;
    align-items: center;
    justify-content: center;

    .title__text {
      padding-right: 0;
    }
  }
}
